
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">FACTG</label>
                    <input type="number" class="form-control" id="FACTG_1474_OpXPmx" placeholder="Fichero donde se encuentra la generación actual" step="undefined">
                </div>