
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">NCHILD</label>
                    <input type="number" class="form-control" id="NCHILD_1474_OpXPmx" placeholder="Cantidad de hijos que se quieren obtener de la cruza,  debe ser 1 o 2." step="undefined">
                </div>