
                <div class="form-group form-check col-12 mt-2">
                    <input class="form-check-input" id="HISTORYCRUZA_1474_OpXPmx" type="checkbox" value="null">
                    <label class="form-check-label" >
                        HISTORYCRUZA
                    </label>
                </div>