
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">FNEXTG</label>
                    <input type="number" class="form-control" id="FNEXTG_1474_OpXPmx" placeholder="Fichero donde se almacenará la siguiente generación" step="undefined">
                </div>