
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">THREADSCRUZA</label>
                    <input type="number" class="form-control" id="THREADSCRUZA_1474_OpXPmx" placeholder="Es la cantidad de hilos en la que se quiere ejecutar, el componente, 0 es para ejecutar con el número total de núcleos -1, 1 es para ejecución secuencial, 2 para ejecutar en 2 hilos, 3 en 3 hilos... 8 en 8 núcleos" step="undefined">
                </div>