<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenWik Server</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body class="container">

<div id="genAnimation" class="fade-in body-flex">
    <div class="dna-loader">
        <div class="chain" style="--i:1">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:2">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:3">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:4">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:5">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:6">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:7">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
        <div class="chain" style="--i:8">
            <div class="line"></div>
            <div class="ball"></div>
        </div>
    </div>
</div>

<div class="row mt-5 mb-5 fade-in" id="genWik">

    <div class="col-md-4">
        <h1>Parametros</h1>
        <hr>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Parametro</th>
                <th scope="col">Valor</th>
            </tr>
            </thead>
            <tbody id="paramsTable">
            </tbody>
        </table>
        <div class="d-grid gap-2">
            <button class="btn btn-secondary" onclick="setNewParams()" type="button"> <i class="fas fa-backward"></i> Volver a ejecutar</button>
        </div>
    </div>

    <div class="col-md-8">
        <h1>Resultado</h1>
        <hr>
        <div class="form-floating">
            <textarea id="result" class="form-control" id="floatingTextarea2" style="height: 55vh" >
            </textarea>
            <label for="floatingTextarea2">
                Resultados
            </label>
        </div>
    </div>

</div>

<div class="card mt-5 fade-in" id="genWikError">
    <h5 class="card-header"> <i class="fas fa-bug"></i> Error al mostrar el resultado</h5>
    <div class="card-body">
        <p class="card-text">
            <pre><code id="errorObj"></code></pre>
        </p>
        <a href="http://localhost:8080/gui" class="btn btn-primary"> <i class="fas fa-backward"></i> Reingresar parametros</a>
    </div>
</div>


<script src="./socket.io/socket.io.js"></script>
<script src="../js/socket-client-result.js"></script>

</body>
</html>
