
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">FPOP</label>
                    <input type="text" class="form-control" id="FPOP_1474_OpXPmx" placeholder="Fichero donde se encuentra almacenada la población">
                </div>