<div class="row"> 
                <legend>1474_OpXPmx</legend>
                    {{> 1474_OpXPmx_FWORK_input }} 
{{> 1474_OpXPmx_FACTG_input }} 
{{> 1474_OpXPmx_FNEXTG_input }} 
{{> 1474_OpXPmx_FPOP_input }} 
{{> 1474_OpXPmx_FSELECT_input }} 
{{> 1474_OpXPmx_NI_input }} 
{{> 1474_OpXPmx_NELITE_input }} 
{{> 1474_OpXPmx_XPROB_input }} 
{{> 1474_OpXPmx_REPORTCX_input }} 

                </div>