
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">NELITE</label>
                    <input type="number" class="form-control" id="NELITE_1474_OpXPmx" placeholder="Número de individuos más áptos" step="undefined">
                </div>