
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">NI</label>
                    <input type="number" class="form-control" id="NI_1474_OpXPmx" placeholder="Número de individuos" step="undefined">
                </div>