
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">REPORTCX</label>
                    <input type="text" class="form-control" id="REPORTCX_1474_OpXPmx" placeholder="REPORTCX">
                </div>