
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">FWORK</label>
                    <input type="text" class="form-control" id="FWORK_1474_OpXPmx" placeholder="Se espera el ingreso de una ruta o nombre de fichero">
                </div>