
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">XPROB</label>
                    <input type="number" class="form-control" id="XPROB_1474_OpXPmx" placeholder="XPROB" step="undefined">
                </div>