
                <div class="form-group col-12 mt-2">
                    <label for="exampleFormControlInput1">FSELECT</label>
                    <input type="text" class="form-control" id="FSELECT_1474_OpXPmx" placeholder="Archivo de texto, donde se guardará la selección">
                </div>