
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">FWORK</label>
                    <input type="text" class="form-control" id="FWORK_1485_OPMutInversionBN" placeholder="Se indica la carpeta de trabajo principal">
                </div>