
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">BASE</label>
                    <input type="text" class="form-control" id="BASE_1485_OPMutInversionBN" placeholder="Indica el nombre del archivo que contiene las bases que construyen al individuo. La nomenclatura para indicar las bases de un individuo de tamaño 30 es la siguiente: Construcción de un individuo con 3 bases:4, 2 y 16. La base 4 la construye el gen en la posición 1 a la 3 y la 5; la base 2 construye el gen 6 a la 30, la posisción 0 y la 4; y la base 16 solo ocupa la posición 2. 4{1-3;5}, 2{6-30;0;4}, 16{2} Nota: por defecto se trabaja bajo la Base 2 (representación binaria). ">
                </div>