<div class="row"> 
                <legend>1485_OPMutInversionBN</legend>
                    {{> 1485_OPMutInversionBN_FWORK_input }} 
{{> 1485_OPMutInversionBN_FNEXTG_input }} 
{{> 1485_OPMutInversionBN_FPOP_input }} 
{{> 1485_OPMutInversionBN_PGENMUT_input }} 
{{> 1485_OPMutInversionBN_BASE_input }} 
{{> 1485_OPMutInversionBN_NAMEREPORT_input }} 
{{> 1485_OPMutInversionBN_PRINT_input }} 

                </div>