
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">NAMEREPORT</label>
                    <input type="number" class="form-control" id="NAMEREPORT_1485_OPMutInversionBN" placeholder="Se especifica el nombre del archivo que contiene las opciones establecidas por el usuario." step="undefined">
                </div>