
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">PGENMUT</label>
                    <input type="number" class="form-control" id="PGENMUT_1485_OPMutInversionBN" placeholder="Indica la probabilidad de que un gen mute en rangos de [0-100%]. La probabilidad por defecto esta al 1%." step="0.1">
                </div>