
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">FNEXTG</label>
                    <input type="text" class="form-control" id="FNEXTG_1485_OPMutInversionBN" placeholder="Indica el nombre de la subcarpeta generada para alojar a la siguiente generación">
                </div>