
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">PRINT</label>
                    <input type="number" class="form-control" id="PRINT_1485_OPMutInversionBN" placeholder="Contiene opciones de impresión: ALL=muestra un resumen de los parámetros utilizados y un listado de los individuos mutados con su antes y despúes además de los genes mutados; RESUMEN=solo muestra el resumen de párametros utilizados y un estatus de la mutación; DETALLE= muestra los individuos mutados con todos los aspectos de los cambios." step="undefined">
                </div>