
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">NUMUNO</label>
                    <input type="number" class="form-control" id="NUMUNO_ComponenteSumaMVN" placeholder="Primer numero a sumar" step="undefined">
                </div>