
                <div class="form-group col-6 mt-2">
                    <label for="exampleFormControlInput1">NUMDOS</label>
                    <input type="number" class="form-control" id="NUMDOS_ComponenteSumaMVN" placeholder="Segundo numero a sumar" step="undefined">
                </div>